<html ng-app="Site">
<head>
  <title>Team Old Spice</title>
  <link href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
	  <div class="container">
	    <h1>Prototype</h1>
	    <span draggable>dsfsdf</span>
	    <form>
	    	<input type="text" ng-repeat="item in items" ng-model="item" ng-model-instant>
	    	{{ items }}
	    </form>
	    <div ng-repeat="dish in dishes" class="dish">
	      <p>{{ dish.id }}</p>
	      <p>{{ dish.state }}</p>
	    </div>
	    <div ng-repeat="item in items">
	      <p>{{ item.from }}</p>
	      <p>{{ item.body }}</p>
	    </div>
	  </div>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="javascripts/client.js"></script>
    <script type="text/javascript" src="javascripts/controllers.js"></script>
    <script type="text/javascript" src="javascripts/directives.js"></script>
</body>
</html>