<html ng-app="Site">
<head>
  <title>Team Old Spice</title>
  <link href="/stylesheets/style.css" rel="stylesheet" />
  	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <script type="text/javascript" src="/javascripts/controllers.js"></script>
    <script type="text/javascript" src="/javascripts/directives.js"></script>
</head>
<body>
  <ng-view></ng-view>
</body>
</html>