<style>
	.food-icon {
		width:170px;
		display:inline-block;
		vertical-align: top;
	}
	.food-icon div.infoBox{
		display: inline-block;
		vertical-align: top;
		width: 100px;
	}
	.food-icon div.infoBox img {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		border: #000 1px solid;
		margin-left: 4px;
	}
	.food-icon ul {
		display: inline-block;
		padding:0;
		margin: 0;
		vertical-align: top;
	}
	.food-icon ul li{
		list-style-type: none;
		margin-top:0;
		margin-left: 14px;
		margin-bottom: 6px;
	}
	.food-icon ul li img {
		width: auto;
		height: 25px;
	}
	.food-icon h4 {
		display:block;
		margin: 5px;
		width: 100px;
		text-align: center;
	}
</style>

<div class="food-icon">
	<div class="infoBox">
		<img ng-src="/{{ dish.photo }}" ng-style="returnColor(dish.state)" width="{{ photoWidth }}" height="{{ photoHeight }}" />
	</div>
	<ul>
		<li class="closeButton" ng-click='deleteDish("{{ dish.id }}", $event)'><img src="../images/remove.png"/></li>
		<li class="maybeButton" ng-click='maybeDish("{{ dish.id }}", $event)'><img src="../images/maybe.png"/></li>
		<li class="acceptButton" ng-click='acceptDish("{{ dish.id }}", $event)'><img src="../images/accept.png"/></li>
	</ul>
	<h4 class="dish-title">{{ dish.title }}</h4>
</div>