<style>
	.food-icon {
		width:150px;
		display:inline-block;
		vertical-align: top;
		text-align: center;
		margin-left: 5px;
		margin-right: 5px;
	}
	.food-icon div.infoBox {
		display: inline-block;
		vertical-align: top;
		width: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	.food-icon div.infoBox img {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		border: #000 1px solid;
		margin-left: 4px;
		cursor: pointer;
	}
	.food-icon ul {
		display: inline-block;
		padding:0;
		margin: 0;
		margin-top: 10px;
		max-width: 60px;
		vertical-align: top;
	}
	.food-icon ul li{
		cursor: pointer;
		list-style-type: none;
		margin-top:0;
		margin-left: 0px;
		margin-bottom: 6px;
	}
	.food-icon ul li img {
		width: auto;
		height: 25px;
	}
	.food-icon h4 {

	}
	.dish-title {
		width: 160px;
		white-space: normal;
		display:block;
		margin: 5px;
		width: 100px;
		text-align: center;
	}
</style>

<div class="food-icon" ng-style="returnBoxStyle(dish.state)">
	<div class="infoBox">
		<img ng-src="/{{ dish.photo }}" ng-style="returnDishStyle(dish.state)" ng-click="revertButtons(dish.state, dish.id)" />
	</div>
	<ul ng-style="returnButtons(dish.state)">
		<li class="closeButton" ng-click='deleteDish("{{ dish.id }}", $event)'><img src="../images/remove.png"/></li>
		<li class="maybeButton" ng-click='maybeDish("{{ dish.id }}", $event)'><img src="../images/maybe.png"/></li>
		<li class="acceptButton" ng-click='acceptDish("{{ dish.id }}", $event)'><img src="../images/accept.png"/></li>
	</ul>
	<p class="dish-title">{{ dish.title }}</p>
</div>