<style>
#container {
    height:300px;
    width: 500px;
    border: 1px solid black;
    font-family: helvetica;
}

#name, #price{
	font-weight: bold;
	font-size:22px;
	padding: 5px;
	padding-bottom: 0px;
	display: inline-block;
}

#price {
	float:right;
}

#picture {
	border: 1px solid black;
	height: auto;
	width: 316px;
	margin-left: 5px;
}

#description {
	font-size: 15px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
	
}

#nutrition{
    width: 150px;
    border: 1px solid black;
    float: right;
    padding-left: 5px;
    font-size: 14px;
    margin-right: 5px;
}

#nutritionfacts{
	font-weight: bolder;
	font-size: 20px;
	vertical-align: top;
}

#thickline {
	background: black;
	height: 5px;
	margin-right: 5px;
}

#thinline {
	background: black;
	height: 2px;
	margin-right: 5px;
}

#thinestline {
	background: black;
	height: 1px;
	margin-right: 5px;
}
    
.value {
	float:right; 
	margin-right:5px;
}

#spiciness, #vegetarian, #glutenfree {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#spiciness span img {
	width: 20;
	height: auto;
}

#description_cell {
	height:95px;
	min-width: 350px;
	max-width: 350px;
}

.fade {
	opacity: .2;
}

</style>

<ng:switch on="detailVisible()">
<table ng:switch-when="true">
	<tr>
		<td>
		<div id="name">{{ dishDetail.title }}</div>
		</td>
		<td>
		<div id="price">${{ dishDetail.price }}</div>
		</td>
	</tr>
	<tr>
		<td id="description_cell"> <div id="description">{{ dishDetail.description }}</div>	</td>
		<td>
			<div id="spiciness">
				<span id="spiciness1" class="fade" ng-style="fadePeppers1(dishDetail.spiciness)">
					<img ng-src="/images/pepper.png">
				</span>
				<span id="spiciness2" class="fade" ng-style="fadePeppers2(dishDetail.spiciness)">
					<img ng-src="/images/pepper.png">
				</span>
				<span id="spiciness3" class="fade" ng-style="fadePeppers3(dishDetail.spiciness)">
					<img ng-src="/images/pepper.png">
				</span>
			</div>
			<!--
			<div id="spiciness">
				<span ng-repeat="dishDetail.spiciness" class="fade">
					<img ng-src="/images/pepper.png">
				</span>
			</div>
			-->
			<div id="vegetarian" ng-style="vegetarian(dishDetail.title)">
				Vegetarian
			</div>
			<div id="glutenfree" ng-style="glutenfree(dishDetail.title)">
				Gluten Free
			</div>
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top"> <div id="picture"><img ng-src="/{{dishDetail.photo}}" width="316" /></div> </td>

		<td style="vertical-align:top">
			<div id="nutrition">
				<div id="nutritionfacts">
					Nutrition Facts
				</div>
				<div id="thickline"></div>
				<div>
					<span> Calories </span> <span class="value" id="calories"> {{ dishDetail.nutrition.calories }} </span>
				</div>
				<div id="thinline"></div>
				<div>
					<span> Fat </span> <span class="value" id="fat"> {{ dishDetail.nutrition.fat }} g</span>
				</div>
				<div id="thinestline"></div>
				<div>
					<span> Saturated Fat </span> <span class="value" id="sfat"> {{ dishDetail.nutrition["saturated fat"] }} g</span>
				</div>
				<div id="thinestline"></div>
				<div>
					<span> Sodium </span> <span class="value" id="sodium"> {{ dishDetail.nutrition.sodium }} mg</span>
				</div>
				<div id="thinestline"></div>
				<div>
					<span> Carohydrates </span> <span class="value" id="carbs"> {{ dishDetail.nutrition.carbohydrates }} g</span>
				</div>
				<div id="thinestline"></div>
				<div>
					<span> Fiber </span> <span class="value" id="fiber"> {{ dishDetail.nutrition.fiber }} g</span>
				</div>
				<div id="thinestline"></div>
				<div>
					<span> Protein </span> <span class="value" id="protein"> {{ dishDetail.nutrition.protein }} g</span>
				</div>
		    </div>
		</td>
	</tr>
</table>
</ng:switch>