body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dish {
	border: 1px dotted #CCCCCC;
	margin: 0px;
	width: 150px;
	height: 150px;
	position: absolute;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #000000;
	cursor: pointer;
	overflow: hidden;
}

.closeButton {
	float: right;
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 8px;
}

.acceptButton {
	width: 50px;
	height: 20px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 8px;
}

.maybeButton {
	width: 50px;
	height: 20px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 8px;
}

.pad {
	margin: 5px;
	padding: 5px;
}

.sharedspace {
  display: block;
	width: 800px;
	height: 400px;
  margin-left: auto;
  margin-right: auto;
	border: 1px #CCCCCC dotted;
}






  #menuMain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 400px;
    border-top: 5px #000 solid;
    border-left: 5px #000 solid;
    border-right: 5px #000 solid;
    font-family: Helvetica, Arial;
    max-height: 500px;
}

 .menuLeft {
    display: inline-block;
    vertical-align: top;
    width: 480px;
    padding: 10px;
    border-right: 5px #000 solid;
 }
 
 	.menuLeft .all-items {
 		max-height: 300px;
    	overflow-y: scroll;
 	}

  .menuLeft div.menuItem {
    background: #F0F0F0;
    padding: 5px;
    border: #ccc 1px solid;
    border-radius: 10px;
  }
  .menuLeft h2.section-title {
    opacity: 0.7;
    text-align: center;
  }

  .menuLeft div.menuItem-main {
	display: inline-block;
	vertical-align: top;
	width: 370px;
	padding-right: 5px;
	border-right: 1px #ccc solid;
  	
  }
  .menuLeft div.menuItem h2.title {
    display: inline-block;
    opacity: 0.7;
    padding: 0;
    margin: 0;
  }
  .menuLeft div.menuItem p.price {
    float: right;
    right: 0px;
    font-weight: 700;
    opacity: 0.7;
    margin: 0;
    padding: 0;
  }
  .menuLeft div.menuItem p.description {
    margin: 10px;
    padding: 0;
  }
  .menuLeft div.menuItem-main:active, .menuLeft div.menuItem-add:active {
    background: #FDFDFD;
  }
  
  .menuLeft div.menuItem-add {
  	display: inline-block;
	vertical-align: top;
	width: 60px;
  }
  .menuLeft div.menuItem-add img{
  	width: 30px;
	height: 30px;
	margin: 20px;
  }

 .menuRight {
    display: inline-block;
    vertical-align: top;
    width: 470px;
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;
 }