body {
  padding: 50px;
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
  margin: 0px;
}

.dish {
	border: 1px dotted #CCCCCC;
	margin: 0px;
	width: 130px;
	height: 150px;
	position: absolute;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background-color: #000000;
	cursor: pointer;
	overflow: visible;
}

.bell {
  position: absolute;
  top: 10px;
  right: 10px;
}
/*
.closeButton {
	float: right;
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 8px;
}

.acceptButton {
	width: 50px;
	height: 20px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 8px;
}

.maybeButton {
	width: 50px;
	height: 20px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 8px;
}*/

.pad {
	margin: 5px;
	padding: 5px;
}

.sharedspace {
  display: block;
	width: 1400px;
	height: 700px;
  margin-left: auto;
  margin-right: auto;
	border: 1px #CCCCCC dotted;
  background: #FFFFFF;
}

.others {
  max-height: 520px;
  overflow-y: auto;
}

.yours {
  position: absolute;
  bottom: 110px;
  width: 1375px;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 150px;
  max-height: 170px;
  white-space: nowrap;

  background: #EEEEEE;
  border: 1px dotted #CCCCCC;
  padding-top: 10px;
  margin: 10px;


  -moz-border-radius: 20px;
  border-radius: 20px;
}

.draggable {
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
}

.user {
  background: #FDFDFD;
  border: 1px dotted #CCCCCC;
  padding: 3px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  width: auto;
  max-width: 1350px;
  min-width: 180px;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 200px;
  white-space: nowrap;
  -moz-border-radius: 20px;
  border-radius: 20px;
}




  #menuMain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1150px;
    border-top: 5px #000 solid;
    border-left: 5px #000 solid;
    border-right: 5px #000 solid;
    border-bottom: 5px #000 solid;
    font-family: Helvetica, Arial;
    max-height: 600px;
}

 .menuLeft {
    display: inline-block;
    vertical-align: top;
    width: 550px;
    padding: 10px;
    border-right: 5px #000 solid;
    position: relative;
 }
 
 	.menuLeft .all-items {
 		max-height: 400px;
    	overflow-y: scroll;
 	}

  .menuLeft div.menuItem {
    background: #F0F0F0;
    padding: 5px;
    border: #ccc 1px solid;
    border-radius: 10px;
  }
  .menuLeft h2.section-title {
    opacity: 0.7;
    text-align: center;
  }

  .menuLeft div.menuItem-main {
	display: inline-block;
	vertical-align: top;
	width: 440px;
	padding-right: 5px;
	border-right: 1px #ccc solid;
  height: 100px;
  	
  }
  .menuLeft div.menuItem h2.title {
    display: inline-block;
    opacity: 0.7;
    padding: 0;
    margin: 0;
  }
  .menuLeft div.menuItem p.price {
    float: right;
    right: 0px;
    font-weight: 700;
    opacity: 0.7;
    margin: 0;
    padding: 0;
  }
  .menuLeft div.menuItem p.description {
    margin: 10px;
    padding: 0;
  }
  .menuLeft div.menuItem-main:active {
    background: #FDFDFD;
  }
   .menuLeft div.menuItem-add:hover, .menuLeft div.menuItem-main:hover {
      cursor: pointer;
    background: #DDDDDD;

   }

  .menuLeft div.menuItem-add {
    /*background: #BBBBBB;*/
  	display: inline-block;
    vertical-align: top;
    /*width: 60px;*/
    width: 70px;
    height: 100px;
  }
  .menuLeft div.menuItem-add img{
  	width: 30px;
	height: 30px;
	margin: 20px;
  }

 .menuRight {
    display: inline-block;
    vertical-align: top;
    width: 550px;
    padding: 10px;
    /*max-height: 600px;*/
    /*overflow-y: scroll;*/
 }


  .section-nav {
    display: block;
    height: 30px;
    font-family: Helvetica, Arial;
    font-size: 16px;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  .section-nav li {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    text-decoration: underline;
  }
  .section-nav li:hover {
    cursor: pointer;
  }
  .section-nav li:active {
    text-decoration: none;
  }
  .section-title {
    text-transform: uppercase;
  }