body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dish {
	border: 1px dotted #CCCCCC;
	margin: 0px;
	width: 150px;
	height: 150px;
	position: absolute;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #000000;
	cursor: pointer;
	overflow: hidden;
}

.closeButton {
	float: right;
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 8px;
}

.acceptButton {
	width: 50px;
	height: 20px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 8px;
}

.maybeButton {
	width: 50px;
	height: 20px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 8px;
}

.pad {
	margin: 5px;
	padding: 5px;
}

.sharedspace {
	width: 800px;
	height: 400px;
	border: 1px #CCCCCC dotted;
}

.menuItem {
	background: #CCCCCC;
}